
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100vh;
}

.container-about {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100vh;
}

body {
background-image: url('https://epe.brightspotcdn.com/6c/2d/8075c8fe4730ad452f170468720f/math-algebra-1458664845.jpg');
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 0px;
}

#TabelaSt td {
font-family: Roboto;
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 1px rgba(234, 237, 231, 0.925);
background-color: rgba(225, 245, 250, 0.716);
}

.row.justify-content-center {
text-align: center;
}
  
h1, h2 {
text-align: center;
text-shadow: 2px 2px 2px rgba(55, 56, 56, 0.685);
}

#TabelaSt {
margin-top: 20px;
}

.footer {
position: static;
bottom: 0;
left: 0;
right: 0;
background-color: #333;
color: white;
text-align: center;
overflow: hidden;
padding: 20px;
padding-bottom: 15px;
}

.about-text p {
  background-color: rgba(225, 245, 250, 0.716);
}

.slider {
  align-items: center;
  width: 66vh;
  margin: 20px;
  background-color: #9e2626;
  cursor: pointer;
}

.btn-group-vertical #mediana button, .btn-group-vertical #gumbki button {
  margin-bottom: 5px; 
  width: 42vh;
}

#izberiSt, #mediana .btn, #gumbki .btn {
  background-color: white;
  border-color: rgb(32, 33, 33);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  color: rgb(32, 33, 33);
  height: 36px;
  font-weight: bold;
  width: 20vh;
  cursor: pointer;
  margin-bottom: 8px;
  transition: background-color 0.15s, color 0.15s;
}

#izberiSt:hover, #mediana .btn:hover, #gumbki .btn:hover {
  background-color: rgb(32, 33, 33);
  color: white;
}   

#izberiSt.btn:active, #mediana .btn:active, #gumbki .btn:active{
  opacity: 0.7;
}

#izberiSt .btn:hover, #gumbki .btn:hover, #mediana .btn:hover {
  background-color: rgb(32, 33, 33);
  color: white;
}   



